@CHARSET "UTF-8";

.stateHandling,.stateColorWriting {
	color: #00FFFF;
}

.stateColorApproving {
	color: #0000FF;
}

.stateNoHandle,.stateDisable,.stateColorApproveFail {
	color: #FF0000;
}

.stateHandled,.stateColorApproveSuccess {
	color: #00FF00;
}

.stateColorInspecting {
	color: #FF8000;
}

.stateEnable,.stateColorInspectFinished {
	color: #008000;
}

.stateColorUnknown {
	color: #000000;
}